@mixin section($hgh) {
    display: flex;
    justify-content: center;
    min-height: $hgh;
    padding: 100px 0px;
}

@mixin media($wid) {
    @media screen and (max-width: $wid) {
        @content;
    }
}

@mixin after($image__after) {
    content: url($image__after);
    display: block;
}

@mixin white_bg($white__bg) {
    background-blend-mode: overlay;
    background-image: url($white__bg),
                      linear-gradient(270deg, #F4F2F2, $color__white);
    box-shadow: inset 0px 4px 40px rgba(0, 0, 0, 0.1);
}

@mixin form__before($content) {
    content: $content;
    display: block;    
}

%bg {
    background-repeat: no-repeat;
    background-size: cover;
}


@mixin title($color, $url, $size) {
    text-align:center;
    color: $color;
    font-size: $size;

    &::after {
        content: url($url);
        display: block;
    }
}